<mat-accordion multi="true" *ngIf="setdatas.length > 0 && !isLoading">
    <mat-card *ngFor="let set of setdatas">
      <mat-card-header>
        <p>{{ set.data }}</p>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <p> Looking for a SubSet that = {{set.search}} : Subset -> {{ set.answer }}</p>
      </mat-card-content>
        <mat-action-row *ngIf="userIsAuthenticated">
          <button mat-button color="warn" (click)="onDelete(set.id)">DELETE</button>
        </mat-action-row>
    </mat-card>
  </mat-accordion>
  <mat-card>
  <mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
  *ngIf="setdatas.length > 0 || totalPosts !== 0"></mat-paginator>
  </mat-card>
  <p class="info-text mat-body-1" *ngIf="setdatas.length === 0 && !isLoading && totalPosts ===0 "> No Calculations made </p>
